{
    "branches": ["main", "next"],
    "plugins": [
        "@semantic-release/changelog",
        [
        "@semantic-release/npm",
        {
            "npmPublish": false
        }
        ],
        "@semantic-release/git"
    ]
}
