{
  "branches": ["main", "next"],
  "plugins": [
    [
        "@semantic-release/git",
        "@semantic-release/changelog",
        ["@semantic-release/npm", {
            "npmPublish": false
        }]
    ]
  ]
}