{
  "branches": ["main", "next"],
  "plugins": [
    [
        "@semantic-release/npm", {
            "npmPublish": false
        },
        "@semantic-release/git",
        "@semantic-release/commit-analyzer",
        "@semantic-release/release-notes-generator"
    ]
  ]
}