# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/codeStyles
dailydle-bot.iml
dataSources.xml
modules.xml
prettier.xml
vcs.xml